<style>
  .indus-offer {
    overflow-x: auto;
    width: 100%;
    display: -webkit-inline-box;
    white-space: nowrap;
    scrollbar-color: #dee7ca #fff;
    scrollbar-width: thin;
  }

  .indus-offer .coupon-wrapper {
    background: url(https://vaaree.com/offer.svg) 0% 0% / contain;
    padding: 12px 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    background-repeat: no-repeat;
    justify-content: center;
    position: relative;
    overflow: visible;
    /* min-width: 80%; */
    width: fit-content;
  }

  .coupon-code-container {
    display: flex;
    justify-content: space-between;
    align-items: base-line;
    margin-top: 5px;
  }

  .indus-offer .coupon-wrapper .copy-btn {
    margin-top: 5px;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    width: 50%;
    border: none;
    background: transparent;
    padding-top: 0px;
  }

  .indus-offer .coupon-title {
    color: rgb(10, 10, 10);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 600;
  }

  .indus-offer .coupon-code {
    color: rgb(49, 90, 8);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }

  .coupon-code-text {
    color: rgb(10, 10, 10);
    font-size: 14px;
    margin-right: 5px;
  }

  .coupon-code-bold {
    font-weight: bold;
    color: rgb(49, 90, 8);
  }
</style>

<div class="indus-offer">
  <div class="coupon-wrapper">
    <div class="coupon-title">
      Festive sale:<br>
      Extra 10% Off Sitewide
    </div>
    <div class="coupon-code-container">
      <div>
        <span class="coupon-code-text">Use code</span>
        <span class="coupon-code coupon-code-bold">ARTAVENUE10</span>
      </div>
      <button
        class="copy-btn"
        data-code="FESTIVE10"
        style="display: flex; align-items: center; justify-content: center;"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="copy">
          <path fill="#212121" d="M4.00029246,4.08524952 L4,10.5 C4,11.8254834 5.03153594,12.9100387 6.33562431,12.9946823 L6.5,13 L10.9143985,13.000703 C10.7082819,13.5829319 10.1528467,14 9.5,14 L6,14 C4.34314575,14 3,12.6568542 3,11 L3,5.5 C3,4.84678131 3.41754351,4.29108512 4.00029246,4.08524952 Z M11.5,2 C12.3284271,2 13,2.67157288 13,3.5 L13,10.5 C13,11.3284271 12.3284271,12 11.5,12 L6.5,12 C5.67157288,12 5,11.3284271 5,10.5 L5,3.5 C5,2.67157288 5.67157288,2 6.5,2 L11.5,2 Z M11.5,3 L6.5,3 C6.22385763,3 6,3.22385763 6,3.5 L6,10.5 C6,10.7761424 6.22385763,11 6.5,11 L11.5,11 C11.7761424,11 12,10.7761424 12,10.5 L12,3.5 C12,3.22385763 11.7761424,3 11.5,3 Z"></path>
        </svg>
        Copy Code
      </button>
    </div>
  </div>
  <div class="coupon-wrapper">
    <div class="coupon-title">
      Festive sale:<br>
      Extra 10% Off Sitewide
    </div>
    <div class="coupon-code-container">
      <div>
        <span class="coupon-code-text">Use code</span>
        <span class="coupon-code coupon-code-bold">ARTAVENUE10</span>
      </div>
      <button
        class="copy-btn"
        data-code="FESTIVE10"
        style="display: flex; align-items: center; justify-content: center;"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="copy">
          <path fill="#212121" d="M4.00029246,4.08524952 L4,10.5 C4,11.8254834 5.03153594,12.9100387 6.33562431,12.9946823 L6.5,13 L10.9143985,13.000703 C10.7082819,13.5829319 10.1528467,14 9.5,14 L6,14 C4.34314575,14 3,12.6568542 3,11 L3,5.5 C3,4.84678131 3.41754351,4.29108512 4.00029246,4.08524952 Z M11.5,2 C12.3284271,2 13,2.67157288 13,3.5 L13,10.5 C13,11.3284271 12.3284271,12 11.5,12 L6.5,12 C5.67157288,12 5,11.3284271 5,10.5 L5,3.5 C5,2.67157288 5.67157288,2 6.5,2 L11.5,2 Z M11.5,3 L6.5,3 C6.22385763,3 6,3.22385763 6,3.5 L6,10.5 C6,10.7761424 6.22385763,11 6.5,11 L11.5,11 C11.7761424,11 12,10.7761424 12,10.5 L12,3.5 C12,3.22385763 11.7761424,3 11.5,3 Z"></path>
        </svg>
        Copy Code
      </button>
    </div>
  </div>
  <div class="coupon-wrapper">
    <div class="coupon-title">
      Festive sale:<br>
      Extra 10% Off Sitewide
    </div>
    <div class="coupon-code-container">
      <div>
        <span class="coupon-code-text">Use code</span>
        <span class="coupon-code coupon-code-bold">ARTAVENUE10</span>
      </div>
      <button
        class="copy-btn"
        data-code="FESTIVE10"
        style="display: flex; align-items: center; justify-content: center;"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="copy">
          <path fill="#212121" d="M4.00029246,4.08524952 L4,10.5 C4,11.8254834 5.03153594,12.9100387 6.33562431,12.9946823 L6.5,13 L10.9143985,13.000703 C10.7082819,13.5829319 10.1528467,14 9.5,14 L6,14 C4.34314575,14 3,12.6568542 3,11 L3,5.5 C3,4.84678131 3.41754351,4.29108512 4.00029246,4.08524952 Z M11.5,2 C12.3284271,2 13,2.67157288 13,3.5 L13,10.5 C13,11.3284271 12.3284271,12 11.5,12 L6.5,12 C5.67157288,12 5,11.3284271 5,10.5 L5,3.5 C5,2.67157288 5.67157288,2 6.5,2 L11.5,2 Z M11.5,3 L6.5,3 C6.22385763,3 6,3.22385763 6,3.5 L6,10.5 C6,10.7761424 6.22385763,11 6.5,11 L11.5,11 C11.7761424,11 12,10.7761424 12,10.5 L12,3.5 C12,3.22385763 11.7761424,3 11.5,3 Z"></path>
        </svg>
        Copy Code
      </button>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.copy-btn').forEach((button) => {
    button.addEventListener('click', function () {
      // Get the code/text to copy from the data-code attribute
      const textToCopy = this.getAttribute('data-code');

      // Create a temporary textarea element
      const tempTextArea = document.createElement('textarea');
      tempTextArea.value = textToCopy;
      document.body.appendChild(tempTextArea);

      // Select and copy the text
      tempTextArea.select();
      document.execCommand('copy');

      // Remove the temporary element
      document.body.removeChild(tempTextArea);

      // Provide visual feedback
      this.textContent = 'Copied!';

      // Reset the button text after 2 seconds
      setTimeout(() => {
        this.textContent = 'Copy Code';
      }, 2000);
    });
  });
</script>
